@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model GameKeeper.Web.Models.AddRecordViewModel

<h1>Add Game Record</h1>

@* <label >Choose a Game:</label>
<select name="dog-names" id="dog-names">
    @foreach (var game in Model.GameList)
    {
        <option value="@game.Name">@game.Name</option>
    }
</select>
 *@
<h1></h1>

<!DOCTYPE html>
<html>
<body>
    <div id="app" class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label class="control-label">Game Played:</label>
                    <select v-model="gamePlayed">
                        <option v-for="game in games" v-bind:value="game">
                            {{ game.name }}
                        </option>
                    </select>
                    <span>Selected: {{ gamePlayed.title }}</span>
                </div>

                <div class="form-group">
                    <label class="control-label">Choose Players:</label>
                    <select v-model="selectedPlayer"
                            v-on:change="addNewPlayer">
                        <option v-for="player in allPlayers" v-bind:value="player">
                            {{ player.firstName }} {{ player.lastName }}
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label">Players in Game:</label>
                    <ul>
                        <li v-for="player in players">
                            {{ player.firstName }} {{ player.lastName }}
                            <label> | Winner</label>
                            <input type="checkbox" v-model="player.won">
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <input v-on:click="recordGamePlayed" class="btn btn-default"
                           value="Record Game" />
                </div>
            </form>
        </div>
    </div>
</body>
</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


    <script>
        var jsPlayerList = @Json.Serialize(Model.PlayerList);
        var jsGameList = @Json.Serialize(Model.GameList);
        var app = new Vue({
            el: '#app',
            data: {
                gamePlayed: {},
                selectedPlayer: {},
                players: [],
                allPlayers: jsPlayerList,
                games: jsGameList
            },
            methods: 
            {
                selectPlayer: function (i) {
                    console.log(i);
                },
                addNewPlayer: function () {
                    this.players.push({
                        id: this.selectedPlayer.id,
                        firstName: this.selectedPlayer.firstName,
                        lastName: this.selectedPlayer.lastName
                    }),
                    this.selectedPlayer = {}
                    console.log("player added")
                },
                recordGamePlayed: function () {
                    console.log('hi there!');
                    $.post('/Record/Add',
                        {
                            gameId: this.gamePlayed.id,
                            playerIds: this.players.map(x => x.id),
                            winnerIds: this.players.filter(x => x.won).map(x => x.id),
                            teacherIds: this.players.filter(x => x.taught).map(x => x.id)
                        },
                        function (response) {
                            console.log(response);
                        });
                }
            }
        })
    </script>
}