@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<GameKeeper.Web.Models.ViewEntities.ListGameRecordsViewModel>

<h1>Game Records</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Game</th>
              <th>Player</th>
                <th>Won</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var record in Model)
        {
            <tr>
               @*  <td>@record.Id</td>
                <td>@record.GameId</td>
                @foreach (var playerRecord in record)
                {
                    <td>@playerRecord.PlayerId</td>
                    <td>@playerRecord.Won</td>
                } *@
                
                <td>
                    <a>Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
