@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<GameKeeper.Web.Models.Entities.Game>

<h1>Games</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Publisher</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model)
        {
            <tr>
                <td>@game.Id</td>
                <td>@game.Name</td>
                <td>@game.Publisher</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Game" asp-action="Edit" asp-route-id="@game.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
